.infinite-list-container {
  height: 100%;
  position: relative;
  overflow: auto;
}

.infinite-list {
  top: 0;
  will-change: transform;
  position: absolute;
}

.infinite-list-phantom {
  width: 1px;
  position: absolute;
}