.infinite-list-container {
  position: relative;
  height: 100%;
  overflow: auto;
}

.infinite-list {
  position: absolute;
  top: 0;
  will-change: transform;
}

.infinite-list > * {
  box-sizing: border-box;
}

.infinite-list-phantom {
  position: absolute;
  width: 1px;
}
